---
# RedHat/CentOS specific variables
common_packages:
  - curl
  - wget
  - git
  - htop
  - vim
  - unzip
  - ca-certificates
  - python3
  - python3-pip
  - epel-release
  - cronie

ntp_package: "chrony"
ntp_service: "chronyd"
